.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  min-height: 40px;
  margin: 0 auto;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 1%, rgba(45, 17, 205, 1) 7%, rgba(249, 255, 0, 1) 78%, rgba(35, 35, 88, 1) 99%);
}

.heanderElem {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 68px 0px 2px 0px;
  max-width: 70vw;
  height: 60vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.first {
  margin: 0 auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}